:root{
    --primary: #582f0e;
    --bgSecondary: #fdb057;
    --dark:#000;
    --ligth: #db7637;
    --bgp1: #7f4f24;
}

header {
    width: 100%;
    height: 810px;
    background: #7f4f24;
    background: linear-gradient(to right, hsla(7, 97%, 15%, 0.918), hsla(2, 85%, 55%, 0.502)), url(../images/portadaofi.svg);
    background: linear-gradient(to right, hsla(12, 95%, 48%, 0.149), hsla(29, 96%, 49%, 0.871)), url(../images/portadaofi.svg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text-header {
    display: flex;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.text-header h1 {
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

.text-header h2 {
    color: #582f0e;
    font-size: 30px;
    font-weight: bold;
}


body{
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    background-color: var(--primary);
    border-color:var(--primary);
}

.btn-primary:hover{
    background-color: var(--primary);
}

.navbar{
    min-height: 90px;
}

.navbar .btn{
    padding: .625rem 1.25rem;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.bg-color-p1{
    background-color: var(--bgp1) !important;
}

.text-primary{
    color:var(--primary) !important;
}


section{
    height: 900px;
    padding: 0px !important;

}    


.content{
    max-width: 75%;
}

.list-subject{
    position: relative;
    display: flex;
    justify-content: center;
}

.bg-header{
    background-color: var(--bgSecondary);
}

.info-content{
    border-radius: 35px;    
}

.info-content .btn{
    padding: .625rem 1.25rem;
}

.publications img{
    height: 80%;
    max-width: 100%;
    border-radius: 30px;
}

.my-form{
    max-width: 450px;
}

.my-form .form-control{
    min-height: 80px;
}

.my-form .btn{
    top:12px;
    right: 10px;
    min-height: 55px;
}
.bg-color-p1{
    background-color: var(--bgp1) !important;
    border: 5px solid #ffffff;
}
.section-600{
    height: 650px !important;
    background-image: url('/assets/images/Cloudy.svg') !important;
    background-repeat: no-repeat;background-size: cover;
}
.section-800{
    height: 1550px !important;
    background-image: url('/assets/images/Sprinkle.svg') !important;
    background-repeat: no-repeat;background-size: cover;
}
.section-100{
    background-color: var(--bgSecondary);
    padding: 0px !important;
    margin: 0% !important;
}
@media (max-width:1376px){
    .container-mobile{
        max-width: 95%;
    }
}

@media (max-width:992px){
    .navbar{
        position: relative !important;
    }

    header{
        background-position: right;
    }

    .text-header {
        height: 250px;
    }
    .text-header h1{
        font-size: 35px;
        margin-left: -2%;
    }

    .text-header h2{
        font-size: 15px;
        margin-left: -2%;
    }

    section{
        height: unset;
    }

    .section-100{
        position: relative !important;
    }

    .section-800{
        height: unset !important;
        background-image: none !important;

    }

    .w-75{
        width: 100% !important;
    }
    .content{
        max-width: 100%;
    }
    .my-text{
        text-align: center !important;
    }
    .section-600 {
        margin-bottom: 20%;
        height: 750px !important;
        background-image: none !important;
    }
    html, body {
        overflow-x:hidden 
    } 
}